<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
  <header>
    <% include ../partials/header2%>
   </header>
  <body>

  <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <h2> Museums: </h2> 

        <% businesses.forEach(function(business){ %>
		
		<ul>
			<li><a href="<%= business.url %>">Name: <%= business.name %></a></li>
			<li><embed src="<%= business.image_url %>"></li>
			<li>Location: <%= business.location %></li>
			<li>Phone: <%= business.display_phone %></li>
			<li>Rating: <%= business.rating %></li> 
			<li><form method="POST" action="/favorites">
					<input name="name" value="<%= business.name %>" hidden>
					<input name="phone" value="<%= business.phone %>" hidden>
					<input name="url" value="<%= business.url %>" hidden>
					<button>Favorite</button>
				</form></li>
		</ul>
		<% }) %>
        
      </div>
    </div>  
<footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
</body>
</html>