<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header2%>
 </header>

<body>
  <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <h2> Coffee Shops: </h2> 
        <div class="row">
          <div class="col-sm-4">.col-sm-4</div>
            <% businesses.forEach(function(business){ %>

	           <ul class="list-group">
          		<li class="list-group-item"><h3><%= business.name %></h3></li>
          		<li class="list-group-item"><%= business.display_phone %></li>
          		<li class="list-group-item"><embed src="<%= business.image_url %>"></li>
          		<li class="list-group-item">Rating:<%= business.rating %></li>
            		<li class="list-group-item"><form method="POST" action="/favorites">
        		      <input name="name" value="<%= business.name %>" hidden>
        		      <input name="phone" value="<%= business.phone %>" hidden>
        		      <input name="url" value="<%= business.url %>" hidden>
        		      <button>Favorite</button>
              	</form>	
              </li>	
          	</ul>
          <% }) %> 
          </div>
        </div>
      </div>
    </div>  
<footer>
        <p>&copy; Emily Hittle, GA</p>
      </footer>
</body>
</html>